* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins';
  }

p{
    font-size:13px;
}

.receipt{
    
    width:500px;
    
    margin:auto;
    margin-top:1em;
    border:1px solid #172577;
    
    .r-container{
        
        width:100%;
        
        
    }
    .receipt-header{
        .r-header-info{
           
            display: flex;
            align-items: center;
            
            padding:0 1.5em;
            .r-h-left{
                img{
                    width:55px;
                    height: 55px;
                }
            }
            .r-h-right{
                margin-left:2em;
                h1, h2, p{
                    color:#172577;
                    margin-bottom: .1em;
                }

                h2{
                    font-size:13px;
                    font-weight: normal;
                    
                }
                h1{
                    font-size:14px;
                    letter-spacing: 1.2px;
                }
                p{
                    font-size:9px;
                }
            }
        }
        .money-receipt-title{
            width:fit-content;
            margin: auto;
            border-bottom: 1px solid #172577;
            font-weight: bold;
        
            color:#172577;
            font-size:10px;
            
        }
        .receipient-details{
            padding:0 1.5em;
            margin-top:.5em;
            p{
                font-size:10px !important;
            }
            .inputs{
                display: flex;
                
                gap:2%;
                align-items: center;
                .left{
                    margin-bottom: .1em;
                    color:#172577;
                    .input{
                        p{
                            color:black;
                            width:fit-content;
                            font-size:11px;
                            
                        }
                    }

                    
                    display: flex;

                    .i-label1{
                        padding-top:.1em;
                        width:fit-content;
                        
                    }
                    
                    .i-id1{
                        margin-left:.3em;
                        width:160px;
                        border-bottom: 1px dotted #172577;
                    }
                    .i-id2{
                        margin-left:.3em;
                        width:135px;
                        border-bottom: 1px dotted #172577;
                    }
                    .i-id3{
                        margin-left:.3em;
                        width:183px;
                        border-bottom: 1px dotted #172577;
                    }
                }
                
                .right{
                    margin-left:2em;
                    display: flex;
                    
                    .i-label1{
                        width:fit-content;
                        padding-top:.1em;
                    }
                    .i-id4{
                        margin-left:.3em;
                        width:149px;
                        border-bottom: 1px dotted #172577;
                    }
                    .i-id5{
                        margin-left:.3em;
                        width:138px;
                        border-bottom: 1px dotted #172577;
                    }
                    .i-id6{
                        margin-left:.3em;
                        width:124px;
                        border-bottom: 1px dotted #172577;
                    }
                    
                }
            }
        }
    }
    .receipt-body{
        padding:0 1.5em;
        margin-top:.5em;
        .contents{
            border:1px solid #172577;
        }

        .r-body-header{
            background:#172577;
            p{
                color:white;
                font-weight: bold;
                font-size: 12px;
            }
            .r-body-header-row{
                display: grid;
                grid-template-columns: 15% 60% 25%;
                
                .r-one, .r-two{
                    border-right:1px solid white;
                    p{
                        text-align: center;
                        padding-top:.09em;
                        font-size:9px;
                    }
                }
                .r-three{
                    p{
                        font-size:9px;
                        text-align: center;
                        padding-top:.09em;
                    }
                }
            }
            
        }
        .r-body-row{
            p{
                font-size:8px !important;
            }
            border-bottom: .5px dotted #172577;
            display: grid;
            grid-template-columns: 15% 60% 25%;
            .r-one, .r-three{
                text-align: center; 
                
                padding-top:.2em;
                
            }
            .r-one{
                border-right:1px solid #172577;
                position: relative;
                .mark{
                    position: absolute;
                    right:17px;
                    font-size:13px;
                    top:0;
                }
            }
            .r-two{
                border-right:1px solid #172577;
                padding:.2em;
                padding-top:.3em;
                margin-left:.5em;
            }
            .small{
                color:#172577;
                font-size:11px;
            }
                
        }
        .r-b-r-last{
            border-bottom: 1px solid #172577;
        }
        .r-body-footer-row{
            border-bottom: 1px solid #172577;
            display: grid;
            grid-template-columns: 15% 60% 25%;
            .r-one{
                border-right:1px solid #172577;
            }

            .r-two{
                
                border-right:1px solid #172577;
                
                padding-top:.3em;
                padding-right:.5em;
                text-align:right;
                p{
                    font-size:9px;
                }
                
            }
            .r-three{
                text-align: center; 
                padding:.2em;
                padding-top:.3em;
                p{
                    font-size:9px;
                }
                
            }
        }
        .r-body-amount-in-text{
            padding:.2em;
            padding-bottom: .5em;
            padding-top:.4em;
            display: flex;
            p{
                font-size:9px;
            }
            .r-one, .r-three{
                width:fit-content;
                p{
                    color:#172577;
                }
            }
            .r-one{
                margin-left:1em;
                padding-top:.2em;
            }
            .r-two{
                margin-left:.3em;
                width:320px;
                
                border-bottom: .5px dotted #172577;
            }
            
        }
        
    }
    .r-container{
        padding:.5em 0;
        .receipt-footer{
            margin-top:1em;
            padding:0 1.5em;
            display: flex;
            justify-content: space-between;
            .student-name{
                text-align: center;
                width:200px;
                color:black;
                border-bottom: .5px dotted #172577;
            }
            p{
                font-size:9px;
                color:#172577;
                text-align: center;
            }


        }
    }

}