<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js"></script>
    <title>Buy E-Ticket</title>
</head>
<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <p>Company Name or Logo</p>
                    <!-- <img src="/images/logo-starline-group.webp" alt=""> -->
                </div>
                <!-- <p class="logo-txt">STAR LINE BD</p> -->
            </div>
            <div class="right">
               <div class="profile" onclick="show_p_options()">
                   <img src="/images/IMG_20220105_183432-02.jpeg" alt="">
               </div>
               <div class="profile-toggle d-none" id="profile-toggle">
                   <ul>
                        <li>
                           <img src="/images/user.png" alt="">
                           <a href="#">view profile</a>
                        </li>

                        <li>
                            <img src="/images/logout.png" alt="">
                           <a href="#">Log out</a>
                        </li>

                        <li>
                            <img src="/images/history.png" alt="">
                            <a href="#">Trip History</a>
                        </li>
                   </ul>
               </div>

            </div>
        </nav>
    </header>

    <div class="container" id="container">
        <div class="bus-list-container">
            <div class="search-result">
                <p>Search results for . . . </p>
                <p>Feni - Dhaka (11th November, 2022)</p>
            </div>

            <div class="bus-list">

                <div class="bus-list-header">
                    <table>
                        <tr>
                            <td>Coach Info</td>
                            <td>Deprature Time</td>
                            <td>Seats</td>
                           
                        </tr>
                    </table>
                </div>

                <div class="buses">
                    <div class="bus ">
                        
                        
                        
                        <table class="bus-info-table">
                            <tr>
                                <td>
                                    <p>Business</p>
                                    <p> AC</p>
                                </td>
                                <td>
                                    <p>1:00 PM Thus</p>
                                    <p>11 November 2022</p>
                                </td>
                                <td>
                                    <p>34 seats available</p>
                                    <button>view seats</button>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                    <div class="bus ">
                        
                        
                        
                        <table class="bus-info-table">
                            <tr>
                                <td>
                                    <p>Business</p>
                                    <p> AC</p>
                                </td>
                                <td>
                                    <p>1:00 PM Thus</p>
                                    <p>11 November 2022</p>
                                </td>
                                <td>
                                    <p>34 seats available</p>
                                    <button>view seats</button>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                    <div class="bus ">
                        
                        
                        
                        <table class="bus-info-table">
                            <tr>
                                <td>
                                    <p>Business</p>
                                    <p> AC</p>
                                </td>
                                <td>
                                    <p>1:00 PM Thus</p>
                                    <p>11 November 2022</p>
                                </td>
                                <td>
                                    <p>34 seats available</p>
                                    <button>view seats</button>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                    <div class="bus ">
                        
                        
                        
                        <table class="bus-info-table">
                            <tr>
                                <td>
                                    <p>Business</p>
                                    <p> AC</p>
                                </td>
                                <td>
                                    <p>1:00 PM Thus</p>
                                    <p>11 November 2022</p>
                                </td>
                                <td>
                                    <p>34 seats available</p>
                                    <button>view seats</button>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                    <div class="bus ">
                        
                        
                        
                        <table class="bus-info-table">
                            <tr>
                                <td>
                                    <p>Business</p>
                                    <p> AC</p>
                                </td>
                                <td>
                                    <p>1:00 PM Thus</p>
                                    <p>11 November 2022</p>
                                </td>
                                <td>
                                    <p>34 seats available</p>
                                    <button>view seats</button>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                    <div class="bus ">
                        
                        
                        
                        <table class="bus-info-table">
                            <tr>
                                <td>
                                    <p>Business</p>
                                    <p> AC</p>
                                </td>
                                <td>
                                    <p>1:00 PM Thus</p>
                                    <p>11 November 2022</p>
                                </td>
                                <td>
                                    <p>34 seats available</p>
                                    <button>view seats</button>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                    <div class="bus ">
                        
                        
                        
                        <table class="bus-info-table">
                            <tr>
                                <td>
                                    <p>Business</p>
                                    <p> AC</p>
                                </td>
                                <td>
                                    <p>1:00 PM Thus</p>
                                    <p>11 November 2022</p>
                                </td>
                                <td>
                                    <p>34 seats available</p>
                                    <button>view seats</button>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                    <div class="bus ">
                        
                        
                        
                        <table class="bus-info-table">
                            <tr>
                                <td>
                                    <p>Business</p>
                                    <p> AC</p>
                                </td>
                                <td>
                                    <p>1:00 PM Thus</p>
                                    <p>11 November 2022</p>
                                </td>
                                <td>
                                    <p>34 seats available</p>
                                    <button>view seats</button>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                    <div class="bus ">
                        
                        
                        
                        <table class="bus-info-table">
                            <tr>
                                <td>
                                    <p>Business</p>
                                    <p> AC</p>
                                </td>
                                <td>
                                    <p>1:00 PM Thus</p>
                                    <p>11 November 2022</p>
                                </td>
                                <td>
                                    <p>34 seats available</p>
                                    <button>view seats</button>
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                    <div class="bus ">
                        
                        
                        
                        <table class="bus-info-table">
                            <tr>
                                <td>
                                    <p>Business</p>
                                    <p> AC</p>
                                </td>
                                <td>
                                    <p>1:00 PM Thus</p>
                                    <p>11 November 2022</p>
                                </td>
                                <td>
                                    <p>34 seats available</p>
                                    <button>view seats</button>
                                </td>
                                
                            </tr>
                        </table>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="footer-content">

        
            <div class="left">
                <div class="about-start-line">
                    <div class="a-s-l-title">
                        <p><span>| A</span> BOUT STAR LINE</p>

                    </div>
                    <p class="address-txt">Green Line Paribahan is apparently a family owned transport company specializing in transportation of passenger bus services since 1990. From a humble beginning of local services, our transport system encompasses all reachable areas of Bangladesh and also beyond the border, extending our reach to Kolkata in India.</p>
                    </div>
            </div>

            <div class="mid">
                <div class="mid-contents">

                    
                    <div class="quick-links">
                        <div class="q-l-title">
                            <p><span>| Q</span> UICK LINKS</p>
                        </div>
                        <div class="q-l">
                            <ul>
                                <li><span>></span><a class="color-green" href="#"> Home</a></li>
                                <li><span>></span><a href="#"> Services</a></li>
                                <li><span>></span><a href="#"> About Us</a></li>
                                <li><span>></span><a href="#"> Contact Us</a></li>
                                <li><span>></span><a href="#"> Query </a></li>
                                <li><span>></span><a href="#"> Cancel Ticket</a></li>
                            </ul>
                        </div>
                </div>
                </div>
            </div>
            <div class="right">
                <div class="address-bar">
                    <div class="a-b-title">
                        <p><span>| A</span> DDRESS</p>
                        
                    </div>
                    <p class="address-txt">
                        GreenLine Paribahan
                        9/2, Outer Circular Road, Momen Bagh,
                        Rajarbagh, Dhaka-1217
                        Phone: 8315380
                        Email: greenline2009@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    <nav id="bottom-nav" class="main-nav bottom-nav">
        <div class="b-n-container">

            
            <section class="counter-info" id="counter-info">
                <div class="icon">
                    <img src="/images/info.png" alt="">
                </div>
                <div class="icon-txt">
                    <p>Counter Infos</p>
                </div>
            </section>
            <section class="cancel-tickets" id="cancel-tickets">
                <div class="icon">
                    <img src="/images/cancel.png" alt="">
                </div>
                <div class="icon-txt">
                    <p>Cancel Ticket</p>
                </div>
            </section>
            <section class="nav-home active-nav" id="nav-home">
                <div class="icon">
                    <img src="/images/home.png" alt="">
                </div>
                <div class="icon-txt">
                    <p>Home</p>
                </div>
            </section>
            <section class="trips" id="trips">
                <div class="icon">
                    <img src="/images/trips.png" alt="">
                </div>
                <div class="icon-txt">
                    <p>Trips</p>
                </div>
            </section>
            <section class="options" id="options-settings">
                <div class="icon">
                   <img src="/images/settings.png" alt="">
                      
                </div>
                <div class="icon-txt">
                    <p>Optiions</p>
                </div>
            </section>
        </div>
    </nav>
</body>
</html>