<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/search_bus.css">
    <link rel="stylesheet" href="/css/login_register.css">
    <title>Buy E-Ticket</title>
</head>
<body>
    

    <div class="container" id="container">
       <div class="search-for-bus">

            <div class="search-f-b-container">
                <div class="s-b-head">
                    <img src="/images/logo.png" alt="">
                    <p>Register To Start Line</p>
                </div>
                <div class="s-b-f">
                    <div class="input from" id="from">
                        <label style="font-size:14px;" for="from" class="label">Full Name</label>
                        <div class="p-wrapper">
                            <input type="text" placeholder="Enter full Name . . .">
                        </div>
                    </div>
                    <div class="input to" id="to">
                        <label for="to" style="font-size:14px;" class="label">Phone </label>
                        <div class="p-wrapper">

                            <input type="number" placeholder="Enter Phone Number . . .">
                        </div>
                    </div>

                    <div class="input opt-input" id="date">
                        <label style="font-size:14px;" class="label" for="date">Email (Optional)</label>
                        <div class="p-wrapper" id="datepicker">

                        
                            <input type="email" placeholder="Enter your email . . .">
                            
                        </div>
                    </div>
                    <div class="input to" id="to">
                        <label for="to" style="font-size:14px;" class="label">Password </label>
                        <div class="p-wrapper">

                            <input type="password" placeholder="Create Password . . .">
                        </div>
                    </div>
                    <div class="input to" id="to">
                        <label for="to" style="font-size:14px;" class="label">Confirm Password </label>
                        <div class="p-wrapper">

                            <input type="password" placeholder="Re-Enter Password . . .">
                        </div>
                    </div>
                    <div class="btn">
                        <button class="search-button login-reg-btn">
                            Register
                            
                        </button>
                    </div>

                    <p class="register-link"><a href="#"> Already have an account ? <span> Login </span></a></p>
                    
                </div>
            </div>

           

       </div>

    </div>

    
   
</body>
</html>