* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .p-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 70%;
      grid-template-columns: 25% 70%;
  gap: 5%;
}

.p {
  padding: 1em;
  border: .5px solid #cacaca;
  margin-bottom: 1em;
  border-radius: 2px;
}

.p-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.p-head p {
  font-weight: 500;
}

.p-content {
  margin-top: 2em;
}

.p-content .p-left .product-type form {
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.p-content .p-left .product-type form .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-content .p-left .product-type form .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.p-content .p-left .product-type form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
}

.p-content .p-left .product-type form .checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.p-content .p-left .product-type form .checkbox-container input:checked ~ .checkmark {
  background-color: #000;
}

.p-content .p-left .product-type form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.p-content .p-left .product-type form .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.p-content .p-left .product-type form .checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.p-content .p-left .product-type form button {
  width: 80px;
  height: 30px;
  background: white;
  color: black;
  border: .5px solid #cacaca;
  font-weight: 450;
  border-radius: 4px;
  cursor: pointer;
}

.p-content .p-left .product-type form button:hover {
  background: #414141;
  color: white;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.p-content .p-left .price form .range-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5em;
}

.p-content .p-left .price form .range-title p {
  font-size: .8em;
  background: #dfdfdfab;
  border-radius: 2px;
  padding: .3em .5em .3em .5em;
}

.p-content .p-left .price form input {
  width: 100%;
}

.p-content .p-left .price form button {
  width: 80px;
  height: 30px;
  background: white;
  color: black;
  border: .5px solid #cacaca;
  font-weight: 450;
  border-radius: 4px;
  cursor: pointer;
}

.p-content .p-left .price form button:hover {
  background: #414141;
  color: white;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.p-content .p-left .collections select {
  border: none !important;
  background: none;
  outline: none;
  width: 100%;
}

.p-content .p-left .size .size-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-content .p-left .size .size-content div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .3em  .5em;
  border: .5px solid #cacaca;
}

.p-content .p-left .color .c-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-content .p-left .color .c-content div {
  width: 30px;
  height: 30px;
}

.p-right .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.p-right .heading .right {
  margin-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-right .heading .right div {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2em;
}

.p-right .heading .right div select {
  padding: 0 .5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  border: .5px solid #cacaca;
  border-radius: 22px;
  margin-left: .5em;
  outline: none;
}

.p-right .heading .left span {
  color: #cacaca;
}

.p-right .contents {
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  gap: 1.9em;
}

.p-right .contents a {
  color: black;
}

.p-right .contents img {
  width: 100%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination a {
  display: block;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.heading-tog, .heading2 {
  display: none;
}

.h-t-contents {
  position: absolute;
  background-color: white;
  right: 5%;
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.562);
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.562);
  border-radius: 4px;
  display: none;
}

.h-t-contents .product-type form {
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.h-t-contents .product-type form .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h-t-contents .product-type form .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.h-t-contents .product-type form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
}

.h-t-contents .product-type form .checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.h-t-contents .product-type form .checkbox-container input:checked ~ .checkmark {
  background-color: #000;
}

.h-t-contents .product-type form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.h-t-contents .product-type form .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.h-t-contents .product-type form .checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.h-t-contents .product-type form button {
  width: 80px;
  height: 30px;
  background: white;
  color: black;
  border: .5px solid #cacaca;
  font-weight: 450;
  border-radius: 4px;
  cursor: pointer;
}

.h-t-contents .product-type form button:hover {
  background: #414141;
  color: white;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.h-t-contents .price form .range-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5em;
}

.h-t-contents .price form .range-title p {
  font-size: .8em;
  background: #dfdfdfab;
  border-radius: 2px;
  padding: .3em .5em .3em .5em;
}

.h-t-contents .price form input {
  width: 100%;
}

.h-t-contents .price form button {
  width: 80px;
  height: 30px;
  background: white;
  color: black;
  border: .5px solid #cacaca;
  font-weight: 450;
  border-radius: 4px;
  cursor: pointer;
}

.h-t-contents .price form button:hover {
  background: #414141;
  color: white;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.h-t-contents .size .size-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.h-t-contents .size .size-content div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .3em  .5em;
  border: .5px solid #cacaca;
}

.h-t-contents .color .c-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h-t-contents .color .c-content div {
  width: 30px;
  height: 30px;
}

.heading2 {
  margin-top: 1em;
}

.heading2 p {
  padding: .3em .5em;
  font-size: .8em;
  border-radius: 22px;
  margin-right: 1em;
  border: .5px solid #cacaca;
}

.heading2 p span {
  color: #cacaca;
}

.show {
  display: block !important;
}

.heading-tog .h-t-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-tog .h-t-heading .img {
  cursor: pointer;
}

.heading-tog .h-t-heading .img img {
  width: 20px;
  height: 20px;
}

.footer footer {
  width: 80%;
  max-width: 1500px;
  padding: 10em 0 10em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer footer .left {
  width: 40%;
}

.footer footer .left .texts {
  margin-top: 4em;
  margin-bottom: 4em;
  line-height: 1em;
}

.footer footer .left .texts p {
  font-size: .9em;
  color: #aaaaaa;
  line-height: 2em;
}

.footer footer .left .links {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer footer .left .links a {
  display: block;
  margin-right: 1em;
}

.footer footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer footer .right .f-r {
  margin-left: 2em;
}

.footer footer .right .f-r .title {
  font-weight: bold;
  margin-bottom: 2em;
}

.footer footer .right .f-r a {
  display: block;
  color: black;
  margin-top: 1em;
}

.footer footer .right .f-r a:hover {
  color: #FBB03B;
  text-decoration: underline;
}

.developer {
  border-top: .5px solid #aaaaaa;
  padding: 1em 0 1em 0;
  width: 80%;
  margin: auto;
  text-align: center;
}

.developer span {
  color: #FBB03B;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .size-content, .c-content {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 25% 25% 25%;
        grid-template-columns: 25% 25% 25%;
    gap: 10%;
  }
}

@media only screen and (max-width: 850px) {
  .main {
    width: 95% !important;
    margin: auto;
  }
  header {
    width: 101% !important;
  }
  .p-content {
    display: block !important;
  }
  .p-content .p-left {
    display: none;
  }
  .p-content .p-right {
    width: 100%;
  }
  .p-content .p-right .heading {
    display: none;
  }
  .p-content .p-right .heading-tog {
    display: block !important;
  }
  .p-content .p-right .heading2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contents {
    -ms-grid-columns: 48% 48% !important;
        grid-template-columns: 48% 48% !important;
    gap: 2%;
  }
  footer .right {
    display: block !important;
    text-align: center;
  }
  footer .right .f-r {
    margin-top: 4em;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 700px) {
  .p-right .contents {
    width: 98%;
  }
}

@media only screen and (max-width: 500px) {
  .heading2 p {
    font-size: .7em;
  }
  .p-right {
    width: 100% !important;
  }
  .p-right .contents {
    -ms-grid-columns: 49% 49%;
        grid-template-columns: 49% 49%;
    gap: 1em;
  }
  .pagination a {
    font-size: .8em;
    padding: 6px 10px;
  }
}

@media only screen and (max-width: 270px) {
  .heading2 p {
    font-size: .6em;
  }
}

@media only screen and (max-width: 1000px) {
  footer {
    display: block !important;
  }
  footer .left {
    text-align: center;
    width: 100% !important;
    margin: auto;
    margin-bottom: 4em;
  }
  footer .left .links {
    width: 100%;
    margin: auto;
  }
}
/*# sourceMappingURL=products.css.map */